{% load static %}


<!-- post details (click on triple dot icon on the post) -->
<div class = "hidden post-detail-box" name = "0">
    <div class = "post-detail-imgbox">
        <img src="{% static 'img/home_tt/triple_dot.svg' %}" alt=":" class = "post-details-img">
    </div>
    <div class = "post-detail-edit" id = "editPost">
        <img src = "{% static 'img/my_publications/pencil.svg' %}" alt="" class = "post-details-desc-img">
        <p class = "post-detail-desc-text">Редагувати допис</p>
    </div>
    <hr class = "post-detail-breaker">
    <div class = "post-detail-edit" id = "deletePost">
        <img src = "{% static 'img/my_publications/black_trashbin.svg' %}" alt="" class = "post-details-desc-img">
        <p class = "post-detail-desc-text">Видалити публікацію</p>
    </div>
</div>

<!-- creation form: entrance (what) -->
{% block links %}
    <link rel="stylesheet" href="{% static 'css/publications/publications_styles.css' %}">
{% endblock %}
<div class="creation-publication-div">
    <form class = "create-post-form">
        <textarea name="publication-text" id="publication-text" placeholder="Текст публікації"></textarea>
        <div class="creation-buttons">
            <button class="smile-button" type="button"><img src="{% static 'img/home_tt/smile.svg' %}" alt="smile"></button>
            <button class="form-button" type = "button">Перейти до оформлення</button>
        </div>
    </form>    
</div>
<canvas class = "hidden image-transfer"></canvas>
<div class = "form-dimmer hidden">
    <form method = "post" class = "form-creation-post" enctype="multipart/form-data">
        {% csrf_token %}
        <img src = "{% static 'img/my_publications/close.svg' %}" alt = "X" class = "creation-form-close">
        <h1 class = "creation-form-title">Створення публікації</h1>
        <div class = "creation-form-inputs">
            {% for field in form %}
                {% if field.field.widget.attrs.class|default:"(no class)" != "hidden" %}
                    <div class = "creation-form-input">
                        {{ field.label_tag }}
                        {{ field }}
                        {{ field.errors }}
                        {% if field.field.widget.attrs.class|default:"whyamidoingthis" == "creation-input-area" %}
                            <div class = "creation-textarea-scrollbar">
                                <div class = "creation-textarea-scrolltrack">
                                    <button class = "creation-textarea-scroll" type = "button"></button>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                {% else %}
                    {{ field }}
                {% endif %}
            {% endfor %}
            <p class = "create-tag-preview"></p>
            <p class = "invinsible helper-text" id = "areaTextCopy"></p>
            <div class="" id="createTagDiv">
                <div class = "create-tag-box hidden">
                    <p class = "create-tag-sign">#</p>
                    <input name="create-tag-input" class = "create-tag-input" id="createTagInput">
                    <img class="create-tag-button tag-button" src="{% static 'img/my_publications/checkmark.svg' %}" alt="checkmark">
                </div>
                <img class="show-tag-button tag-button" src="{% static 'img/my_publications/plus.svg' %}" alt="plus">
            </div>
            <div class = "creation-links-block">
                <p class = "creation-links-title">Посилання</p>
                <div class = "creation-link-box">
                    <input type="text" class = "creation-link-input" placeholder = "Посилання...">
                    <img class = "creation-link-delete tag-button hidden" src = "{% static 'img/my_publications/remove_button.svg' %}">
                    <img class = "creation-link-create tag-button" src="{% static 'img/my_publications/plus.svg' %}">
                    <img class = "creation-link-confirm tag-button hidden" src="{% static 'img/my_publications/checkmark.svg' %}">
                </div>
            </div>
            
            <div class = "creation-image-grid">
                <!-- just a template for JS -->
                <div class = "creation-image-box hidden" id = "originalImgTemplate">
                    <img src = "" class = "creation-image-preview">
                    <img src = "{% static 'img/my_publications/trashbin.svg' %}" class = "creation-image-delete">
                </div>
            </div>
        </div>
        <div class = "creation-form-buttons">
            <input type="hidden" value = "{% static 'img/my_publications/trashbin.svg' %}" name = "trashbinSource">
            <button class="creation-images-button creation-additional-button"  type="button"><img src="{% static 'img/my_publications/img.svg' %}" alt="img"></button>
            <button class="creation-smile-button creation-additional-button" type="button"><img src="{% static 'img/home_tt/smile.svg' %}" alt="smile"></button>
            <input type="hidden" name = "sendImgURL" value = "{% static 'img/my_publications/send.svg' %}">
            <button class="creation-form-send" type = "submit">Публікація <img src = "{% static 'img/my_publications/send.svg' %}" alt=""></button>
        </div>
    </form>
</div>

<script defer src = "{% static 'js/home_tt/creation_form.js' %}"></script>