.form-dimmer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.data-form{
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: calc(1.2vw + 0.3vh) calc(2vw + 0.4vh) calc(2vw + 0.4vh) calc(2vw + 0.4vh);
    background-color: white;
    border-radius: calc(0.9vw + 0.3vh);
    position: relative;
}

.data-form p{
    margin: 0;
}

.data-form label{
    font-size: calc(0.8vw + 0.2vh);
}

.data-form-title{
    font-size: calc(1.7vw + 0.45vh);
    color: #070A1C;
    font-weight: 500;
    width: calc(18vw + 5vh); /* <- FORM WIDTH CONTROL HERE */
    text-align: center;
    margin: 0;
}

.data-form-inputs{
    width: 100%;
    padding: calc(1.2vw + 0.3vh) 0px;
    display: flex;
    flex-direction: column;
    gap: calc(0.8vw + 0.2vh);
}

.data-form-input{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: calc(0.3vw + 0.07vh);
}

input{
    font-size: calc(1vw + 0.2vh);
    box-sizing: border-box;
    padding: calc(0.5vw + 0.17vh) calc(0.8vw + 0.2vh);
    border: 0.01vw solid #CDCED2;
    border-radius: calc(0.5vw + 0.17vh);
    width: 100%;
    box-sizing: border-box;
}

.data-form-username{
    width: 100%;
    position: relative;
}

.data-form-sign{
    font-size: calc(0.8vw + 0.2vh);
    color: #81818D;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: calc(0.8vw + 0.2vh);
}

.data-form-username > input{
    padding-left: calc(1.5vw + 0.35vh);
}

.data-form-hinttext{
    font-size: calc(0.6vw + 0.15vh);
}

.data-form-hint{
    color: #22C55E;
}

.data-form-submit{
    float: right;
    background-color: #543C52;
    padding: calc(0.5vw + 0.12vh) calc(0.8vw + 0.2vh);
    border-radius: 100vw;
    font-size: calc(0.7vw + 0.18vh);
    border: 0;
    color: white;
}

.data-form-wrapper{
    width: 100%;
    height: fit-content;
    position: relative;
}