.profile-info-box{
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: calc(0.5vw + 0.2vh);
    overflow: hidden;
    background-color: white;
    height: fit-content;
}

.profile-short-info{
    display: flex;
    width: 100%;
    height: fit-content;
    flex-direction: column;
    border: 0.1vw solid #CDCED2;
    border-radius: calc(0.4vw + 0.1vh);
    gap: calc(0.8vw + 0.7vh);
    padding: calc(0.5vw + 0.25vh) 0px;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
}

.profile-author-info{
    display: flex;
    flex-direction: column;
    gap: calc(0.7vw + 0.5vh);
    align-items: center;
    justify-content: center;
    width: 100%;
}

.profile-author-info > .profile-box{
    width: calc(4vw + 1vh);
    height: calc(4vw + 1vh);
}

.profile-username{
    margin: 0;
    font-size: calc(0.9vw + 0.2vh);
    font-family: 'GT Walsheim Bold';
    width: fit-content;
    max-width: 100%;
}

.profile-nickname{
    margin: 0;
    font-size: calc(0.85vw + 0.1vh);
    width: fit-content;
    max-width: 100%;
}

.profile-activity-info{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
}

.profile-activity-info > *:not(:last-child) {
    border-right: 0.1vw solid #ccc;
}

.profile-activity-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: calc(0.2vw + 0.07vh);
}

.profile-activity-num{
    margin: 0;
    font-size: calc(1.2vw + 0.1vh);
    font-family: 'GT Walsheim Bold';
}

.profile-activity-text{
    margin: 0;
    color: #81818D;
    font-size: calc(0.7vw + 0.1vh);
}

.profile-requests-box{
    display: flex;
    width: 100%;
    height: fit-content;
    flex-direction: column;
    border: 0.1vw solid #CDCED2;
    border-radius: calc(0.4vw + 0.1vh);
    gap: calc(0.8vw + 0.2vh);
    padding: calc(0.8vw + 0.2vh);
    align-items: center;
    box-sizing: border-box;
}

.profile-requests-panel{
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    width: 100%;
    gap: calc(0.35vw + 0.1vh);
}

.profile-requests-title{
    font-size: calc(0.9vw + 0.2vh);
    color: #81818D;
    margin: 0;
}
.profile-requests-all{
    font-size: calc(0.8vw + 0.2vh);
    color: #543C52;
    margin: 0;
    position: absolute;
    right: 0px;
    text-decoration: none;
}

.friend-avatar-restricter{
    width: calc(2.0vw + 0.6vh);
    height: calc(2.0vw + 0.6vh);
}

.profile-section-icon{
    width: calc(1.2vw + 0.25vh);
    height: calc(1.2vw + 0.25vh);
}

.profile-possible-friends{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 6px;
}

.profile-friend-request{
    display: flex;
    gap: calc(0.5vw + 0.2vh);
    flex-direction: row;
    width: 100%;
}

.profile-info-other{
    display: flex;
    flex-direction: column;
    gap: calc(0.3vw + 0.1vh);
    flex: 1;
}

.profile-username-other{
    color: #070A1C;
    font-size: calc(0.8vw + 0.2vh);
    margin: 0;
}

.profile-not-important{
    font-size: calc(0.6vw + 0.2vh);
    color: #81818D;
    margin: 0;
}

.profile-friend-info{
    display: flex;
    width: 100%;
    flex-direction: row ;
    justify-content: space-between;
}

.profile-friends-messages{
    display: flex;
    width: 100%;
    height: fit-content;
    flex-direction: column;
    border: 0.1vw solid #CDCED2;
    border-radius: calc(0.5vw + 0.15vh);
    gap: calc(0.8vw + 0.2vh);
    padding: calc(0.8vw + 0.2vh) 0px;
    align-items: center;
    box-sizing: border-box;
}

.profile-friend-message{
    padding: calc(0.8vw + 0.2vh) calc(0.8vw + 0.2vh);
    box-sizing: border-box;
}

.not-read-message{
    background-color: #E9E5EE;
}

.profile-messages{
    width: 100%;
}

.profile-messages-panel{
    display: flex;
    padding: 0px calc(0.8vw + 0.2vh);
    box-sizing: border-box;
    width: 100%;
    align-items: center;
}

.profile-messages-all{
    right: calc(0.8vw + 0.2vh);
}

.profile-friend-text{
    margin: 0;
    font-size: calc(0.6vw + 0.2vh);
}