.friends-links-div{
    position: relative;
    left: 150px;
    display: flex;
    flex-direction: column;
    min-width: 254px;
    max-width: 254px;
    height: fit-content;
    top: 16px;
    gap: 26px;
}
.friends-link{
    min-height: 18px;
    max-height: 18px;
    width: fit-content;
    font-size: 16px;
    font-weight: 500;
    color: rgba(129, 129, 141, 1);
    text-decoration: none;
  
}
#main-friends-link{
    display: flex;
    color: rgba(7, 10, 28, 1);
    font-weight: 700;
    gap: 8px;
    padding-bottom: 7px ;
    border-bottom: 2px solid rgba(84, 60, 82, 1);
    
}
.everything-div{
    display: flex;
    flex-direction: row;
    gap: 347px;
}
.content-div{
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    position: relative;
    top: 16px;
    display: flex;
    flex-direction: column;
    min-width: 1173px;
    max-width: 1173px;
    gap: 8px;
    min-height: 965px;
    max-height: 965px;
}
.requests-div{
    display: flex;
    flex-direction: column;
    width: 1123px;
    height: fit-content;
    border: 1px solid rgba(205, 206, 210, 1);
    border-radius: 10px;
    
    padding: 16px 20px 16px 20px;
    gap: 16px;
    background-color: white;
   
}
.request-header{
    min-width: 1123px;
    display: flex;
    flex-direction: row;
    min-height: 18px;
    max-height: 18px;
    width: 923px;
    justify-content: space-between;
}
.request-header a{
    color: rgba(84, 60, 82, 1);
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
}

.single-request-div{
    border: 1px solid rgba(205, 206, 210, 1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    min-width: 366.25px;
    max-width: 366.25px;
    height: 333.75px;
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 16px;
    justify-content: center;
    align-items: center;
}
.request-profile-icon{
    width: 135px;
    height: 135px;
}
.profile-info{
    display: flex;
    flex-direction: column;
    width: 366.25px;
    height: 226.25px;
    gap: 35px;
    justify-content: center;
    align-items: center;
}
.nicknames-info{
    display: flex;
    flex-direction: column;
    width: 366.25px;
    min-height: 73.75px;
    max-height: 73.75px;
    gap: 17.5px;
    justify-content: center;
    align-items: center;
}
.request-buttons{
    display: flex;
    width: 281.25px;
    height: 55px;
    gap: 25px;
    justify-content: center;
    align-items: center;
}

.request-buttons button{
    width: 143.75px;
    height: 55px;
    border-radius: 1234px;
    font-family: "GT Walsheim Medium";
    font-weight: 200;
}
.confirm-button{
    background-color: rgba(84, 60, 82, 1);
    color: white;
    font-size: 17px;
    border: 0px;
}
.delete-button{
    border: 1px solid rgba(84, 60, 82, 1);
    color: rgba(84, 60, 82, 1);
    background-color: white;
    font-size: 17px;
   
}

.request-title{
    margin: 0px;
}
.request-username{
    font-weight: 700;
    font-size: 24px;
    margin: 0px;
}
.request-tag{
    font-weight: 500;
    font-size: 16px;
    margin: 0px;
}
.all-requests-block{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 8px;
    width: fit-content;
    height: fit-content;
}