{% extends "main_base.html" %}
{% load static %}
{% load base_post_tags %}

{% block title %}
    Profile Settings
{% endblock %}

{% block page_links %}
    <link rel="stylesheet" href="{% static 'css/settings/settings_styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/home_tt/profile_pic.css' %}">
    <script src = "{% static 'js/settings/settings_script.js' %}" defer></script>
{% endblock %}

{% block page_nav %}
    <a href="{% url 'settings' %}" class="main-nav-link selected-link">Особиста інформація</a>
    <a href="{% url 'my_albums' %}" class="main-nav-link">Альбоми</a>
{% endblock %}

{% block page_content %}
    <input type="hidden" id = "mainInfoLink" value = "{% url 'edit_main_info' %}">
    <input type="hidden" id = "changePasswordLink" value = "{% url 'change_password_link' %}">
    <div class="section-div">
        <div class="request-header">
            <p class="request-title">Картка профілю</p>
            <div class = "settings-edit-options">
                <button class = "settings-edit-button settings-edit-header">
                    <img src = "{% static 'img/settings/pencil.svg' %}" alt="/" class = "icon">
                    <p href="{% url 'home' %}" class="request-see-all">Редагувати</p>
                </button>
                <button class = "settings-edit-button hidden" id = "headerEditCancel">
                    <img src = "{% static 'img/settings/cross.svg' %}" alt="/" class = "icon">
                    <p href="{% url 'home' %}" class="request-see-all">Скасувати</p>
                </button>
                <button class = "settings-edit-button hidden" id = "headerEditSend">
                    <img src = "{% static 'img/settings/pencil.svg' %}" alt="/" class = "icon">
                    <p href="{% url 'home' %}" class="request-see-all">Зберегти</p>
                </button>
            </div>
        </div>
        <div class="self-info-block header-readonly">
            <div class = "self-avatar-wrapper">
                {% get_avatar account 0 %}
            </div>
            <div class = self-text-info>
                <p class = "self-name">{{ user.first_name }} {{ user.last_name }}</p>
                <p class = "self-username">{{ user.username }}</p>
            </div>
        </div>
        <form class="self-info-block header-edit hidden" enctype="multipart/form-data">
            {% csrf_token %}
            <p class = "avatar-edit-text">Оберіть або завантажте фото профілю</p>
            <div class = "self-avatar-wrapper">
                {% get_avatar account 0 %}
            </div>
            <div class = "avatar-edit-buttonbox">
                <input type="file" id = "newAvatarDownload" class = "hidden" name = "avatar">
                <button class = "avatar-edit-button" id = "avatarEditAdd" type = "button">
                    <img src = "{% static 'img/settings/plus.svg' %}" alt=" " class = "icon">
                    <p class = "avatar-edit-buttontext">Додайте фото</p>
                </button>
                <button class = "avatar-edit-button" id = "avatarEditChoose" type = "button">
                    <img src = "{% static 'img/settings/img.svg' %}" alt=" " class = "icon">
                    <p class = "avatar-edit-buttontext">Оберіть фото</p>
                </button>
            </div>
            <div class = self-text-info>
                <p class = "self-name">{{ user.first_name }} {{ user.last_name }}</p>
                <div class = "username-inputbox">
                    <label for = "usernameInput" class = "username-label">Ім'я користувача</label>
                    <input type = "text" class = "username-input" name = "username" placeholder = "{{ user.username }}">
                </div>
            </div>
        </form>
    </div>
    <input type="hidden" value = "{% static 'img/user_base/closed-eye.svg' %}" name = "{% static 'img/user_base/open-eye.svg' %}" id = "URLs">
    <form class="section-div" method = "post">
        {% csrf_token %}
        <div class="request-header">
            <p class="request-title">Особиста інформація</p>
            <div class = "settings-edit-options">
                <button class = "settings-edit-button settings-open-editing" type = "button">
                    <img src = "{% static 'img/settings/pencil.svg' %}" alt="/" class = "icon">
                    <p class="request-see-all">Редагувати</p>
                </button>
                <button class = "settings-edit-button settings-cancel-button hidden" type = "button">
                    <img src = "{% static 'img/settings/cross.svg' %}" alt="/" class = "icon">
                    <p class="request-see-all">Скасувати</p>
                </button>
                <button class = "settings-edit-button settings-save-button hidden" type = "submit">
                    <img src = "{% static 'img/settings/pencil.svg' %}" alt="/" class = "icon">
                    <p class="request-see-all">Зберегти</p>
                </button>
            </div>
        </div>
        <div class="self-info-editbox half-visible">
            {% for field in form %}
                <div class = "input-block">
                    {{ field.label_tag }}
                    <div class = "input-box">
                        {{ field }}
                        {% if field.field.widget|classname == "PasswordInput" %}
                            <img src = "{% static 'img/user_base/closed-eye.svg' %}" class = "icon absolute-eye show-password non-interactive" id = "hidden">
                        {% else %}
                            <img src = "{% static 'img/user_base/open-eye.svg' %}" class = "icon show-main-info non-interactive">
                        {% endif %}
                    </div>
                    {{ field.errors }}
                </div>
            {% endfor %}
        </div>
        <div class = "request-header password-header">
            <p class="request-title">Пароль</p>
            <div class = "settings-edit-options">
                <button class = "settings-edit-button password-open-button" type = "button">
                    <img src = "{% static 'img/settings/pencil.svg' %}" alt="/" class = "icon">
                    <p class="request-see-all">Редагувати пароль</p>
                </button>
                <button class = "settings-edit-button password-cancel-button hidden" type = "button">
                    <img src = "{% static 'img/settings/cross.svg' %}" alt="/" class = "icon">
                    <p class="request-see-all">Скасувати</p>
                </button>
                <button class = "settings-edit-button password-save-button hidden" type = "button">
                    <img src = "{% static 'img/settings/pencil.svg' %}" alt="/" class = "icon">
                    <p class="request-see-all">Змінити пароль</p>
                </button>
            </div>
        </div>
        <div class="self-info-editbox half-visible password-editbox">
            <div class = "input-block">
                <div class = "password-box-show">
                    <div class = "input-block">
                        <label for="passwordInitial">Пароль</label>
                        <div class = "input-box password-input-initial">
                            <input type="password" value = "aaaaaaaaaa" id = "passwordInitial" class = "PasswordInput" disabled>
                            <img src = "{% static 'img/user_base/closed-eye.svg' %}" class = "icon absolute-eye show-password non-interactive" id = "hidden">
                        </div>
                    </div>
                </div>
                <div class = "password-box-edit hidden">
                    <div class = "input-block">
                        <label for="mainPassword">Новий пароль</label>
                        <div class = "input-box password-input-main">
                            <input type="password" id = "mainPassword" class = "PasswordInput">
                            <img src = "{% static 'img/user_base/closed-eye.svg' %}" class = "icon absolute-eye show-password non-interactive" id = "hidden">
                        </div>
                    </div>
                    <div class = "input-block">
                        <label for="additionalPassword">Підтвердіть новий пароль</label>
                        <div class = "input-box password-input-confirm">
                            <input type="password" id = "additionalPassword" class = "PasswordInput">
                            <img src = "{% static 'img/user_base/closed-eye.svg' %}" class = "icon absolute-eye show-password non-interactive" id = "hidden">
                        </div>
                    </div>
                    <p class = "errortext hidden">Паролі не співпадають!</p>
                </div>
            </div>
        </div>
    </form> 
    <div class="section-div">
        <div class="request-header">
            <p class="request-title">Варіанти підпису</p>
            <button class = "settings-edit-button">
                <img src = "{% static 'img/settings/pencil.svg' %}" alt="/" class = "icon">
                <p href="{% url 'home' %}" class="request-see-all">Редагувати</p>
            </button>
        </div>
        <div class="checkboxes-block">
            <div class = "checkbox-block">
                <input type="checkbox" class = "checkbox-input">
                <p class = "checkbox-name">Ім'я та прізвище</p>
            </div>
            <p class = "checkbox-preview-text">{{ user.first_name }} {{ user.last_name }}</p>
            
            <div class = "checkbox-block">
                <input type="checkbox" class = "checkbox-input">
                <p class = "checkbox-name">Мій електроний підпис</p>
            </div>
            <img src="{% static 'img/settings/sign.png' %}" alt="" class = "checkbox-img-prev">
        </div>
    </div>
{% endblock %}