{% extends "base.html" %}
{% load static %}

{% block title %}
    Login
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/base_form.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <script defer src = "{% static 'js/login.js' %}"></script>
{% endblock %}

{% block content %}
    
    <form method = "post" class = "user-form">
        <div class="links-block">
            <a href="/reg/" id="reg-link">Реєстрацiя</a>
            <a href="/login/" id="login-link">Авторизацiя</a>
        </div>
        <p id="welcome-p">Радi тебе знову бачити!</p>
        {% csrf_token %}
        
            <input type="text" hidden name = "{% static 'img/open-eye.png' %}" value = "{% static 'img/closed-eye.png' %}" id = "iconLinks">
            <div class="all-inputs">
                {% for field in form %}
                   <div class="input-with-label">
                        {{ field.label_tag }}
                        <div class = "input-box">
                            {{ field }}
                            <!-- {% if field.field.widget.input_type == "password" %}
                                <button type = "button" class = "look" id = "{{ field.auto_id }}-button">
                                    <img src="{% static 'img/closed-eye.png' %}" alt="Show" class = "look-eye">
                                </button>
                            {% endif %} -->
                        </div>
                    </div>
                {% endfor %}
            </div>
            <!-- <p class = "error">
                {% for error in form.error.values %}
                    {{ error }}
                    <br>
                {% endfor %} -->
        
        <button class="login-button" disabled>Увійти</button>
        
        <div class="login-info">
            <p>——   Або увiйдiть за допомогою QR-код    ——</p>
            <img src="/static/img/qrcode.png" alt="qrcode" class="qrcode">
        </div>
    </form>
    <img src="/static/img/Group_1.png" alt="phone_pic" class="phone_pic">
{% endblock %}