{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/font_loader.css' %}">
        <link rel="stylesheet" href="{% static 'css/base_style.css' %}">
        <script defer src = "{% static 'js/base/loader.js' %}"></script>
        {% block links %}{% endblock %}
    </head>
    <body>
        <input type="hidden" id = "pageNameString" value = "{{ page_name }}">
        <header>
            <!-- LINKS HERE -->
            <img src="{% static 'img/base/logo.svg' %}" alt="logo" class="logo">
            <div class = 'links'>
                <div class = 'login-links'>
                    {% if not user.is_authenticated %}
                        <a href="{% url 'login' %}" class="link">Авторизація</a>
                        <a href="{% url 'reg' %}" class="link">Реєстрація</a>
                    {% else %}
                         <div class="header-authenticated">
                            <div class = 'authenticated-links'>
                                <a href="{% url 'home' %}" class="link" id="homeLink"><img src="{% static 'img/base/home.svg' %}" class="header-link-icon">Головна</a>
                                <a href="{% url 'my_publications' %}" class="link" id = "myPublicationsLink"><img src="{% static 'img/base/publications.svg' %}" class="header-link-icon">Мої публікації</a>
                                <a href="{% url 'friends' %}" class="link" id = "friendsLink"><img src="{% static 'img/base/friends2.svg' %}" class="header-link-icon">Друзі</a>
                                <a href="{% url 'chats' %}" class="link" id = "chatsLink"><img src="{% static 'img/base/chats2.svg' %}" class="header-link-icon">Чати</a>
                                <a href="{% url 'settings' %}" class="link" id = "settingsLink"><img src="{% static 'img/base/settings.svg' %}" class="header-link-icon">Налаштування</a>
                            </div>
                        </div>
                        <form method = "post" action = "{% url 'logout' %}">
                            {% csrf_token %}
                            <button class = "logout-button" type = "submit"><img src="{% static 'img/base/door.svg' %}" alt="door" class="door-img">Вихід</button>
                        </form>
                    {% endif %}
                </div> 
            </div>
        </header>
        <main>
            {% block content %}
            {% endblock %}
        </main>
    </body>
</html>