.dimmer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 20;
}

.friends-links-div {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: calc(13.23vw); /* 254px width-only */
    max-width: calc(13.23vw);
    height: fit-content;
    top: calc(0.83vw + 0.17vh); /* 16px */
    gap: calc(1.35vw + 0.33vh); /* 26px */
}

.album-div {
    display: flex;
    flex-direction: column;
    width: calc(52.49vw); /* 1123px width-only */
    height: fit-content;
    border: 0.05vw solid rgba(205, 206, 210, 1);
    border-radius: calc(0.52vw + 0.13vh); /* 10px */
    padding: calc(0.83vw + 0.17vh) calc(1.04vw + 0.21vh) calc(0.83vw + 0.17vh) calc(1.04vw + 0.21vh); /* 16px 20px 16px 20px */
    gap: calc(0.83vw + 0.17vh); /* 16px */
    background-color: white;
    position: relative;
}

.album-new-button {
    display: flex;
    flex-direction: row;
    padding: calc(0.52vw + 0.21vh); /* 10px */
    border-radius: 100vw;
    border: 1px solid #543C52;
    gap: calc(0.52vw + 0.21vh); /* 10px */
    width: fit-content;
    height: fit-content;
    align-items: center;
    background-color: transparent;
    position: absolute;
    right: calc(1.04vw); /* 20px width-only */
    color: #543C52;
}


.album-new-button:hover{
    cursor: pointer;
}

.album-control-buttons {
    position: absolute;
    right: 1.04vw; /* 20px width-only */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: calc(0.52vw + 0.21vh); /* 10px */
    top: calc(1.04vw + 0.21vh); /* 20px */
}

.album-new-text {
    font-size: calc(0.73vw + 0.14vh); /* 14px */
    align-items: center;
    margin: 0;
}

.new-album-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: calc(1.25vw + 0.25vh) calc(2.29vw + 0.42vh) calc(2.29vw + 0.83vh); /* 24px 44px 44px */
    position: relative;
    background: #FFFFFF;
    border-radius: calc(1.04vw + 0.42vh); /* 20px */
}

.new-album-title {
    color: #070A1C;
    font-weight: 500;
    font-size: calc(1.77vw + 0.35vh); /* 34px */
    width: 100%;
    text-align: start;
    margin: calc(0.26vw + 0.1vh) 0; /* 5px 0px */
}

.new-album-inputs {
    padding: calc(1.25vw + 0.25vh) 0; /* 24px 0 */
    display: flex;
    flex-direction: column;
    gap: calc(0.83vw + 0.17vh); /* 16px */
}

.new-album-inputs label {
    color: #070A1C;
    font-size: calc(0.83vw + 0.17vh); /* 16px */
    font-weight: 400;
}

.new-album-inputbox {
    display: flex;
    flex-direction: column;
    gap: calc(0.31vw + 0.13vh); /* 6px */
}

.new-album-inputs input, select {
    padding: calc(0.52vw + 0.21vh) calc(0.83vw + 0.17vh); /* 10px 16px */
    border-radius: calc(0.52vw + 0.13vh); /* 10px */
    border: 1px solid #81818D;
    color: #070A1C;
    width: 20.83vw; /* 400px width-only */
    box-sizing: border-box;
}

.new-album-inputs input::placeholder, select::placeholder {
    color: #81818D;
}

.new-album-buttons {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: flex-end;
    gap: calc(0.52vw + 0.21vh); /* 10px */
}

.new-album-create {
    background-color: #543C52;
    color: #FFFFFF;
    position: relative;
    right: 0;
}

.new-album-cancel {
    position: relative;
    right: 0;
}

.album-new-image {
    position: relative;
    top: 0;
    right: 0;
}
.album-new-imagebox {
    width: 10.42vw; /* 200px width-only */
    height: 20.83vh; /* 200px height-only */
    border: 0.05vw dotted #81818D;
    border-radius: calc(0.52vw + 0.13vh); /* 10px */
    display: flex;
    align-items: center;
    justify-content: center;
}


.album-new-imagebox img{
    width: calc(2vw + 0.5vh);
    height: calc(2vw + 0.5vh);
    border-width: 0.05vw;
}

.album-year{
    color: #81818D;
}

.album-image-box {
    width: 10.42vw; /* 200px width-only */
    height: 20.83vh; /* 200px height-only */
    border-radius: calc(0.52vw + 0.13vh); /* 10px */
    position: relative;
}

.album-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: calc(0.52vw + 0.13vh); /* 10px */
}

.album-image-buttons {
    position: absolute;
    right: calc(0.52vw + 0.21vh); /* 10px */
    bottom: calc(0.52vw + 0.21vh); /* 10px */
    display: flex;
    gap: calc(0.52vw + 0.21vh); /* 10px */
}

.album-images-block {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10.42vw, 10.42vw)); /* 200px */
    width: 100%;
    gap: calc(1.3vw + 0.42vh); /* 25px */
}

.album-image-visibility, .album-image-delete {
    width: 2.08vw; /* 40px width-only */
    height: 4.17vh; /* 40px height-only */
    border: 0.05vw solid #543C52;
    border-radius: 100vw;
    box-sizing: border-box;
    padding: calc(0.52vw + 0.21vh); /* 10px */
    background: white;
}

.album-image-visibility:hover, .album-image-delete:hover {
    cursor: pointer;
}

.album-visibility, .album-delete {
    width: 2.08vw; /* 40px width-only */
    height: 4.17vh; /* 40px height-only */
    border: 0.05vw solid #543C52;
    border-radius: 100vw;
    box-sizing: border-box;
    padding: calc(0.52vw + 0.21vh); /* 10px */
    background: white;
}

.album-visibility:hover, .album-delete:hover{
    cursor: pointer;
}