.settings-edit-options{
    display: flex;
    flex-direction: row;
    gap: calc(0.6vw + 0.15vh);
}

.section-div{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    border: 0.01vw solid rgba(205, 206, 210, 1);
    border-radius: calc(0.5vw + 0.12vh);
    padding: calc(0.8vw + 0.2vh) calc(1vw + 0.24vh) calc(0.8vw + 0.2vh) calc(1vw + 0.24vh);
    gap: calc(0.8vw + 0.2vh);
    background-color: white;
    box-sizing: border-box;
}
.request-header{
    min-width: calc(100% - 4vw);
    display: flex;
    flex-direction: row;
    min-height: 2vh;
    max-height: 2vh;
    width: 100%;
    justify-content: space-between;
}
.request-header a{
    color: rgba(84, 60, 82, 1);
    font-weight: 500;
    font-size: calc(0.8vw + 0.2vh);
    text-decoration: none;
}

.settings-edit-button{
    display: flex;
    flex-direction: row;
    padding: calc(0.5vw + 0.12vh);
    border-radius: 100vw;
    border: 0.05vw solid #543C52;
    gap: calc(0.5vw + 0.12vh);
    width: fit-content;
    height: fit-content;
    align-items: center;
    background-color: transparent;
}

.request-see-all{
    color: #543C52;
    font-size: calc(0.7vw + 0.18vh);
    align-items: center;
    margin: 0;
}

.self-name{
    font-size: calc(1.2vw + 0.3vh);
    color: #070A1C;
    margin: 0;
    font-weight: 700;
}

.self-username{
    color: #070A1C;
    font-size: calc(0.8vw + 0.2vh);
    margin: 0;
}

.self-text-info{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: calc(0.5vw + 0.14vh);
}

.self-info-block{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: calc(1.2vw + 0.3vh);
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    width: 100%;
    padding: calc(1.2vw + 0.3vh) calc(0.8vw + 0.2vh);
}

.self-avatar-wrapper{
    width: calc(4.8vw + 1.2vh);
    height: calc(4.8vw + 1.2vh);
}

.self-info-editbox{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: calc(1.2vw + 0.3vh);
    align-items: start;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    width: 100%;
    padding: calc(0.6vw + 0.16vh) 0;
}

.half-visible{
    opacity: 0.5;
}

.self-info-editbox input{
    width: 100%;
    font-size: calc(0.8vw + 0.2vh);
    color: #070A1C;
    border-radius: calc(0.5vw + 0.15vh);
    border: 0.05vw solid #81818D;
    padding: calc(0.5vw + 0.17vh) calc(0.5vw + 0.15vh);
}
.input-block{
    display: flex;
    flex-direction: column;
    gap: calc(0.3vw + 0.07vh);
    width: 44%;
}

.self-info-editbox label{
    color: #070A1C;

}

.self-info-editbox input::placeholder{
    color: lightgray;
}

.input-box{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: calc(0.5vw + 0.12vh);
    position: relative;
    width: 100%;
}

.input-box:has(.absolute-eye) input{
    width: 100%;
}

.absolute-eye{
    position: absolute !important;
    right: calc(1vw + 0.25vh);
    cursor: default;
}

.checkboxes-block{
    display: flex;
    gap: calc(1.2vw + 0.3vh);
    flex-direction: column;
}

.checkbox-block{
    display: flex;
    flex-direction: row;
    opacity: 0.5;
    gap: calc(0.4vw + 0.1vh);
}

.checkbox{
    border-radius: 0.1vw;
    border: 0.05vw solid #543C52;
}

.checkbox-preview-text{
    font-size: calc(0.8vw + 0.2vh);
    color: #070A1C;
    margin: 0;
}   

.checkbox-img-prev{
    width: 14%;
    height: 5vh;
}

.settings-cancel-button{
    color: #543C52;
    padding: calc(0.6vw + 0.14vh);
}

.settings-save-button{
    padding: calc(0.6vw + 0.14vh);
}

.settings-edit-button:hover{
    cursor: pointer;
}

.non-interactive:hover{
    cursor: default !important;
}

.interactive:hover{
    cursor: pointer !important;
}

li{
    font-size: calc(0.7vw + 0.18vh);
    color: red;
    margin: 0;
}

.errorlist{
    margin: 0;
}
.header-edit{
    display: flex;
    flex-direction: column;
    gap: calc(0.5vw + 0.16vh);
}

.avatar-edit-button{
    border: 0;
    background-color: transparent;
    font-size: calc(0.8vw + 0.2vh);
    color: #543C52;
    gap: calc(0.4vw + 0.1vh);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.avatar-edit-button:hover{
    cursor: pointer;
}

.avatar-edit-buttonbox{
    display: flex;
    flex-direction: row;
    gap: calc(1.2vw + 0.3vh);
}

.username-input{
    border: 0.05vw solid #81818D;
    border-radius: calc(0.5vw + 0.14vh);
    padding: calc(0.6vw + 0.15vh);
    color: black;
    font-size: calc(0.8vw + 0.2vh);
    width: 100%;
}

.username-input::placeholder{
    color: #81818D;
}

.username-label{
    color: #81818D;
    font-size: calc(0.8vw + 0.2vh);
}

.username-inputbox{
    display: flex;
    flex-direction: column;
    gap: calc(0.3vw + 0.07vh);
    align-items: start;
    width: 37%;
}

.errortext{
    font-size: calc(0.7vw + 0.18vh);
    color: red;
    margin: 0;
}

.password-box-edit{
    display: flex;
    flex-direction: column;
    gap: calc(1.2vw + 0.3vh);
}

.request-title{
    font-size: calc(0.8vw + 0.2vh);
    color: #070A1C;
    margin: 0;
}

.input-block > label{
    font-size: calc(0.7vw + 0.18vh);
    color: #070A1C;
    margin: 0;
}

.avatar-edit-text{
    font-size: calc(0.9vw + 0.25vh);
    color: #070A1C;
}

.checkbox-name{
    font-size: calc(0.7vw + 0.18vh);
    color: #543C52;
    margin: 0;
}

.checkbox-input{
    width: calc(1vw + 0.25vh);
    height: calc(1vw + 0.25vh);
    border-width: 0.05vw;
    border-radius: 0.1vw;
    margin: 0;
    padding: 0.1vw;
}