@font-face {
    font-family: "GT Walsheim Bold";
    src: url('../fonts/gt_walsheim_bold.otf') format('truetype');
}
@font-face {
    font-family: "GT Walsheim Light";
    src: url('../fonts/gt_walsheim_light.otf') format('truetype');
}
@font-face {
    font-family: "GT Walsheim Medium";
    src: url('../fonts/gt_walsheim_medium.otf') format('truetype');
}

*{
    font-family:'GT Walsheim Medium';
}

.links{
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 45px;
    background-color: white;
    height: 88px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.login-links{
    right: 30px;
    position: absolute;
    display: flex;
    gap: 30px;   
    align-items: center;
}

body{
    padding: 0px;
    margin: 0px;
    width: 100vw;
    height: 100vh;
}

main{
   
    width: 100%;
    height: calc(100% - 100px);
}

header{
    
    height: 100px;
    position: relative;
    align-items: center;
}
.link{
    width: 150px;
    height: fit-content;
    font-size: 25px;
    font-weight: 500;
    font-family: inherit;
    text-decoration: none;
    color: black;
    transition: 0.1s;
    text-align: center;
}
.link:hover{
    font-size: 26px;
    transition: 0.1s;
    /* font-weight: 550; */
    font-family: inherit;
    text-decoration: none;
    color: rgb(49, 48, 48);
}

.logout-button{
    font-size: 24px;
    background-color: rgb(140, 120, 140);
    border-radius: 20px;
    transition: 0.1s;
    padding: 10px;
    color: white;
    text-decoration: none;
}

.logout-button:hover{
    background-color: rgb(160, 120, 160);
    transition: 0.1s;
}