*{
    font-family:'GT Walsheim Medium';
}

.links{
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 45px;
    background-color: white;
    height: 88px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.login-links{
    right: 30px;
    position: absolute;
    display: flex;
    gap: 30px;   
    align-items: center;
}

body{
    padding: 0px;
    margin: 0px;
    width: 100vw;
    height: 100vh;
}

main{
    width: 100%;
    height: calc(100% - 100px);
}

header{
    
    height: 100px;
    position: relative;
    align-items: center;
}
.link{
    display: flex;
    flex-direction: row;
    gap: 8px;
    width: fit-content;
    height: fit-content;
    font-size: 16px;
    font-weight: 500;
    font-family: inherit;
    text-decoration: none;
    color: black;
    transition: 0.1s;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    border-radius: 3px;
}
.link:hover{
    /* font-size: 17px; */
    transition: 0.1s; 
    /* font-weight: 550; */
    font-family: inherit;
    text-decoration: none;
    color: rgb(49, 48, 48);
}

.logout-button{
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    background-color: white;
    border: 1px rgba(84, 60, 82, 1) solid;
    border-radius: 20px;
    transition: 0.1s;
    padding: 10px;
    color: rgb(82, 64, 80);
    text-decoration: none;
    font-weight: 100;
  
}

.logout-button:hover{
    cursor: pointer;
    background-color: #E9E5EE;
    transition: 0.1s;
    /* color: white; */
}

.logout-link{
    text-decoration: none;
    color: white;

}

.logo{
    position: fixed;
    width: fit-content;
    height: fit-content;
    padding: 0px;
    margin: 0px;
    left: 24px;
}
.header-authenticated{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 700px;
    padding-left: 24px;
}
.authenticated-links{
    display: flex;
    flex-direction: row;
    gap: 44px;
    justify-content: center;
    align-items: center;
    padding-right: 24px;
}
.door-img{
    width: 20px;
    height: 20px;
}
