{% extends "base.html" %}
{% load static %}
{% load base_post_tags %}



{% block links %}
    <link rel="stylesheet" href="{% static 'css/friends/friends.css' %}">
    <link rel="stylesheet" href="{% static 'css/home_tt/profile_pic.css' %}">
{% endblock %}

{% block content %}
    <div class="everything-div">
        <div class="friends-links-div">
            <a href="{% url 'home' %}" class="friends-link" id="main-friends-link">Головна</a>
            <a href="{% url 'home' %}" class="friends-link">Запити</a>
            <a href="{% url 'home' %}" class="friends-link">Рекомендації</a>
            <a href="{% url 'home' %}" class="friends-link">Всі друзі</a>
        </div>
        <div class="content-div">
            <div class="requests-div">
                <div class="request-header">
                    <p class="request-title">Запити</p>
                    <a href="{% url 'home' %}" class="request-see-all">Дивитись всі</a>
                </div>
                <div class="all-requests-block">
                    {% for friend_request in requests %}
                        <div class="single-request-div">
                            <div class="profile-info">
                                <div class = "friend-avatar-wrapper">
                                    {% get_avatar friend_request %}
                                </div>
                                <div class="nicknames-info">
                                    <p class="request-username">{{ friend_request.user.first_name }} {{ friend_request.user.last_name }}</p>
                                    <p class="request-tag">{{ friend_request.user.username }}</p>
                                </div>
                            </div>
                            <div class="request-buttons">
                                <button class="confirm-button">Підтвердити</button>
                                <button class="delete-button">Видалити</button>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="requests-div">
                <div class="request-header">
                    <p class="request-title">Рекомендації</p>
                    <a href="{% url 'home' %}" class="request-see-all">Дивитись всі</a>
                </div>
                <div class="all-requests-block">
                    {% for request in recomendations %}
                        <div class="single-request-div">
                            <div class="profile-info">
                                <div class = "friend-avatar-wrapper">
                                    {% get_avatar request %}
                                </div>
                                <div class="nicknames-info">
                                    <p class="request-username">{{ request.user.first_name }} {{ request.user.last_name }}</p>
                                    <p class="request-tag">{{ request.user.username }}</p>
                                </div>
                            </div>
                            <div class="request-buttons">
                                <button class="confirm-button">Додати</button>
                                <button class="delete-button">Видалити</button>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="requests-div">
                <div class="request-header">
                    <p class="request-title">Всі друзі</p>
                    <a href="{% url 'home' %}" class="request-see-all">Дивитись всі</a>
                </div>
                <div class="all-requests-block">
                    {% for friend in friends %}
                        <div class="single-request-div">
                            <div class="profile-info">
                                <div class = "friend-avatar-wrapper">
                                    {% get_avatar friend %}
                                </div>
                                <div class="nicknames-info">
                                    <p class="request-username">{{ friend.user.first_name }} {{ friend.user.last_name }}</p>
                                    <p class="request-tag">{{ friend.user.username }}</p>
                                </div>
                            </div>
                            <div class="request-buttons">
                                <button class="confirm-button">Повідомлення</button>
                                <button class="delete-button">Видалити</button>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

