{% extends "base.html" %}
{% load post_tags %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/home_tt/profile_pic.css' %}">
    <link rel="stylesheet" href="{% static 'css/home_tt/post.css' %}">
    <link rel="stylesheet" href="{% static 'css/home_tt/profile.css' %}">
    <link rel="stylesheet" href="{% static 'css/publications/publications_styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/friends/user_page.css' %}">
    <script src = "{% static 'js/friends/user_page_script.js' %}" defer></script>
{% endblock %}

{% block content %}
    <input type="hidden" id = "addFriendLink" value = "{% url 'add_friend' 0 %}">
    <input type="hidden" id = "removeFriendLink" value = "{% url 'remove_friend' 0 %}">
    <input type="hidden" id = "denyRequestLink" value = "{% url 'deny_request' 0 %}">
    <input type="hidden" id = "sendRequestLink" value = "{% url 'send_request' 0 %}">
    {% if request.user.is_authenticated %}
        {% render_profile_short account full_acc 1 relation %}
    {% endif %}
    <div class = "posts">
        {% for post in posts %}
            {% render_post post %}
        {% endfor %}
    </div>
{% endblock %}